/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */
img{
    width: 100%;
    margin-top: 3em;
    margin-right: 10px;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:white
}
i{
    color: white;
    align-self: center;
}
.flex{
    display: flex;
}
/* MAIN */
.wrapper {
    background-color:rgb(14 14 14);
    width: 100%;
    height: 100vh;
    position: relative;
}

.content {
    height: calc(100% - 80px);
    width: 90%;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    width: calc((100% / 7) - 5px);
    position: relative;
    margin-left: 5px;
}

.name{
    background-color: rgba(0, 0, 0,0.4);
    color: white;
    position: absolute;
    bottom: 8px;
    left: 0;
    padding: 5px;
}

/* TOOLBAR */
.toolbar {
    height: 80px;
    background-color: rgb(34 34 34);
}
.card{
    display: flex;
    
    min-height: 50px;
}
.op{
    background-color: rgba(69, 69, 69,0.7);
    position: absolute;
    right: 0;
    top: 5px;
    border-radius: 5px;
    padding: 3px;
}

.bleft{
    margin-right: 4.3em;
}
.end a{
    color: red;
    background-color: rgb(74 74 74);
}

.end{
    justify-content: flex-end;
    padding: 5px;
    width: 100%;
}

.center{
    flex-grow: 2;
}

.botton a i{
    font-size: 17px;
}

.botton a{
    margin: 20px;
    text-align: center;
}

.left{
    margin-left: -1.3em;
}

.right{
    margin-right: -1.2em;
}